<div class="footerComp bg-dark text-white p-5">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minus
  accusantium molestias, perspiciatis ullam, debitis veritatis perferendis, quo
  nulla ad sed eligendi dicta impedit delectus esse tempore! Distinctio saepe
  deleniti velit facere animi! Voluptate omnis voluptatum, eveniet harum
  explicabo consequatur beatae rem vitae repellendus impedit quam iure suscipit
  hic ullam praesentium consequuntur ut. Aperiam, cumque veniam quo quisquam
  consectetur id molestiae quis illum fugiat ab iure ipsa, molestias sed aut
  recusandae, perspiciatis ullam dolor! Molestias ea nostrum reiciendis
  reprehenderit, illum sint incidunt, quae nihil eos, non temporibus architecto
  facilis. Id neque dolorum dolore ipsum veritatis dolores exercitationem
  asperiores, totam quasi. Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Sint rerum nobis accusamus odit voluptates aperiam repellat distinctio
  corrupti cumque sunt? Vitae nihil eos nulla, impedit magnam consectetur sequi
  enim hic velit voluptas labore nostrum nesciunt voluptate eius doloremque
  facere voluptatem quidem corrupti cumque ipsum repudiandae voluptatibus
  numquam aliquid laboriosam! Quis consequatur inventore maiores deleniti
  doloribus vero asperiores, quam iste tenetur, quibusdam optio placeat
  nesciunt? Tempore, assumenda autem? Modi in nesciunt, ratione beatae
  architecto iure consequatur placeat ipsa quis impedit hic fuga eaque enim sunt
  corrupti ut saepe? Quis nulla exercitationem adipisci, explicabo placeat earum
  ducimus enim hic! Aspernatur, explicabo cum!
</div>
