<!-- <div class="container p-5">
  <button mat-button [matMenuTriggerFor]="mymenu">menu</button>

  <mat-menu #mymenu="matMenu" xPosition="before">
    <p mat-menu-item>option 1</p>
    <button mat-menu-item [matMenuTriggerFor]="mysubmenu">option 2</button>
    <p mat-menu-item>option 3</p>
    <p mat-menu-item>option 3</p>
  </mat-menu>

  <mat-menu #mysubmenu="matMenu" yPosition="below">
    <button mat-menu-item>OP 1</button>
    <button mat-menu-item>OP 2</button>
    <button mat-menu-item>OP 3</button>
  </mat-menu>
</div> -->

<!-- <mat-radio-group>
  <mat-radio-button>male</mat-radio-button>
  <mat-radio-button>female</mat-radio-button>
</mat-radio-group>

<mat-checkbox>HTML</mat-checkbox>
<mat-checkbox>CSS</mat-checkbox> -->

<!-- <div class="container p-5">
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <span matTextPrefix>Mr.</span>
    <input required type="text" matInput placeholder="enter name" />
    <mat-icon matSuffix>search</mat-icon>
    <mat-error>username is required</mat-error>
  </mat-form-field>
</div> -->
<div class="container mt-5"></div>
