<div style="padding: 50px">
  <h2>Total Amount : {{ price * qty }}</h2>
  <img src="{{ imageurl }}" width="{{ width }}" height="300" alt="user" />
  <!-- <h2>{{ title }}</h2>
  <h4>{{ subTitle }}</h4> -->
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
    minus, deserunt vel architecto modi numquam voluptas, magnam eaque
    voluptatem quis omnis, alias quibusdam praesentium blanditiis! Ipsum
    perferendis accusamus corporis veritatis recusandae quaerat, tempore porro
    eum libero ipsam quia quos vero quis molestias minus id aliquid perspiciatis
    amet excepturi non omnis debitis blanditiis hic aperiam. Esse nemo sunt,
    aperiam maiores a laborum sed inventore et, ipsum velit laboriosam unde
    nihil expedita, animi non recusandae quod natus molestiae! Autem
    necessitatibus voluptatum, eos voluptatem ducimus veritatis ea perspiciatis
    enim obcaecati quos a reiciendis minima consequatur corporis iste
    exercitationem ipsam sequi nemo rem quo?
  </p>
  <dl>
    <dt>User Name</dt>
    <dd>{{ user.username }}</dd>
    <dt>ID</dt>
    <dd>{{ user.id }}</dd>
    <dt>Gender</dt>
    <dd>{{ user.gender }}</dd>
  </dl>
  <button (click)="changeUser()">Change User</button>
</div>
