<div class="container mt-5 p-3">
  <h2 *ngIf="showHeading; else alternateTitle">My First title</h2>

  <ng-template #alternateTitle>
    <h2>My Alternate title</h2>
  </ng-template>

  <button class="btn btn-primary" (click)="toggleHeading()">Toggle</button>
</div>
<hr />

<div class="container mt-5 p-5">
  <div class="row">
    <div *ngTemplateOutlet="mytemp"></div>
    <h2>ng template</h2>
    <ng-template #mytemp>
      <h3>ng-template concept</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime fuga
        delectus consectetur, asperiores officiis fugit ad, magnam nihil
        nesciunt voluptas error alias aspernatur est. Consequuntur reprehenderit
        deserunt hic nulla! Optio laudantium, libero voluptatum sed impedit nam
        enim. Autem ratione nam officia, modi nesciunt in doloribus quas vero
        nihil. Amet tempora accusantium, inventore laudantium doloremque
        assumenda accusamus dolore at itaque cupiditate ab pariatur obcaecati
        alias perferendis impedit! Provident cupiditate recusandae quos debitis
        ratione a vel assumenda! Optio quod, nulla veniam repellendus adipisci
        quam hic asperiores ullam culpa voluptatum distinctio, maxime quia?
        Mollitia porro exercitationem repellat reprehenderit odio sit quae nam
        voluptas?
      </p>
    </ng-template>
  </div>

  <div *ngTemplateOutlet="mytemp"></div>
</div>
