<div class="">
  <app-contentchild>
    <p #p1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
      recusandae nostrum sit, aliquid aperiam maxime reiciendis optio esse
      reprehenderit iste placeat dicta! Molestias amet mollitia ex minus
      corporis sunt. Labore nulla ipsum delectus impedit ex quae animi placeat
      amet voluptas, cum soluta nobis dicta eius assumenda et ratione harum qui
      perferendis natus facere modi! Facere, praesentium vitae deleniti quas sed
      nisi. Consequatur delectus beatae placeat id blanditiis minus. Ratione
      voluptas minus non eius quos odit totam tempore, perferendis facilis
      inventore sed eum excepturi eligendi, architecto beatae quisquam saepe
      nesciunt rerum. Tempora adipisci molestias consectetur corrupti, excepturi
      accusamus. Veritatis, laboriosam illum.
    </p>
    <button #p1 class="btn btn-danger">Details</button>
  </app-contentchild>
</div>
