.header {
  background-color: black;
  height: 75px;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}
.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 40%;

  /* position: relative;
  left: 200px; */
}
.menus {
  width: 60%;
}
.title h3 {
  color: white;
}
.menus a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
  font-size: 18px;
}
.menus a:hover {
  color: green;
  font-weight: bold;
}
