<div class="container p-5">
  <h2 #mytitle>View Child</h2>
  <p #mytitle>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint voluptatibus
    obcaecati aspernatur accusantium. Cupiditate, pariatur autem nobis sit nihil
    molestiae odio dicta fugit corporis minima a dolor voluptates blanditiis
    animi ea sint reprehenderit quo aliquid, iste officia ut consequatur est
    mollitia? Corporis dignissimos commodi laboriosam temporibus possimus
    deleniti eum harum! Cumque doloribus laborum hic ab incidunt? Beatae nulla
    tenetur ipsam sunt ducimus nisi reprehenderit numquam, nobis magnam officia
    animi, error odio vel facilis similique veritatis cupiditate. Modi commodi
    fugit iure dolorum autem voluptatem tenetur dolores! Deserunt maiores nemo,
    ipsam, et nesciunt quidem tenetur, quo laborum beatae quaerat eaque veniam
    molestiae.
  </p>
  <h2 #mytitle>Alternate View Child</h2>
  <ol>
    <li>ng-template</li>
    <li>ng-container</li>
    <li>ng-content</li>
  </ol>

  <button (click)="getH2Reference()">Get Reference</button>

  <button class="btn btn-outline-primary" (click)="getChildMethod()">
    Call Child Method
  </button>

  <div class="container mt-5">
    <div class="row">
      <app-child-c #myChildReference></app-child-c>
    </div>
  </div>
</div>
