<div class="mainComp">
  <h2>Angular Topics</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam sit enim
    voluptatibus dolores qui porro dolore nulla id ducimus, quidem voluptates
    autem inventore fugiat aut deleniti explicabo! Culpa ipsa mollitia, eum
    perferendis architecto corporis impedit laudantium necessitatibus, nostrum
    vitae illum totam provident delectus aut tempora, magni natus! Aliquam
    praesentium dignissimos earum repudiandae exercitationem maxime adipisci?
    Aut amet id illo excepturi ab quaerat dolorum qui rerum reiciendis commodi,
    molestiae, quisquam nesciunt inventore repellendus ducimus saepe, odio ullam
    placeat? Cum consequuntur officiis rerum dicta exercitationem, expedita
    repellendus cumque mollitia minima esse pariatur eaque commodi laboriosam at
    consectetur! Porro ipsa, vero culpa nam, quia pariatur odio aliquid sunt
    voluptas reiciendis harum sit id nobis consequatur! Eveniet blanditiis
    consequuntur quis ad incidunt rerum dolor autem quas, adipisci sunt officiis
    aliquid non sint doloremque quidem ullam cum? Eius, deleniti! Voluptatibus
    soluta velit sint rem possimus repellendus voluptatem odio. Pariatur libero
    sapiente rem iste, commodi saepe.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid nesciunt
    eum ea, dolore ratione minus aperiam odit reiciendis perferendis modi
    laudantium illo esse qui? Corrupti magnam saepe enim doloribus nesciunt
    delectus non aspernatur cumque veniam eos eveniet minus laborum dolore
    soluta, nostrum numquam cum. Dignissimos culpa, doloremque dolore, ab in
    adipisci consectetur quae enim, velit consequuntur illum. Ipsa quasi amet
    dicta labore quibusdam eligendi error soluta sed aut reiciendis, sequi saepe
    pariatur minima consequuntur obcaecati, voluptate deleniti perspiciatis
    consequatur. Est, magnam! Vitae earum ipsam alias culpa ducimus, odio
    suscipit quas quod nesciunt, eius nihil cupiditate sunt? Libero saepe
    ratione odio assumenda? Voluptate dicta architecto ad reprehenderit tenetur
    nam magni mollitia expedita commodi quae, quo sed recusandae dignissimos
    quas harum officia veniam, officiis eveniet sint excepturi impedit! Id illum
    porro excepturi eveniet exercitationem quasi minima nam esse velit ex et
    ipsa explicabo sunt consequatur consectetur tenetur neque quas, laudantium
    tempora voluptas, saepe quia. Vero esse autem excepturi. Totam fugit quaerat
    vitae libero autem, quos dignissimos, aperiam optio expedita, voluptatem
    tempora velit! Possimus cumque nam, dolores molestias reiciendis aperiam
    nihil deserunt vitae pariatur quos eius culpa cum suscipit odio nostrum?
    Harum incidunt accusantium maxime placeat perspiciatis est? Odit libero
    corrupti cupiditate voluptatum.
  </p>
</div>
