<h1>Switch Directive</h1>

<ul class="nav nav-tabs w-25">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Angular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">React</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" href="#">NodeJS</a>
  </li>
</ul>

@switch(day){ @case('monday'){
<h2>Explore Angular</h2>
} @case('tuesday'){
<h2>Explore React</h2>
} @case('wednesday'){
<h2>Explore NodeJS</h2>
} @case('thursday'){
<h2>Explore MongoDB</h2>
} @default {
<h2>Enjoy</h2>
} }

<div [ngSwitch]="day">
  <div *ngSwitchCase="'monday'">
    <h4>Explore React</h4>
  </div>

  <div *ngSwitchCase="'tuesday'">
    <h4>Explore Angular</h4>
  </div>

  <div *ngSwitchCase="'wednesday'">
    <h4>Explore React</h4>
  </div>

  <div *ngSwitchDefault>
    <h4>Enjoy</h4>
  </div>
</div>

<!-- <h2 class="mt-5">Users Info</h2> -->
<!-- <ul>
  @for( key of users ; track key.name){ 
    @if(key.id%2===0){
  <li>{{ key.name }}</li>
  } }
</ul> -->
<!-- <h2>Directive</h2>
<ul>
  @for( key of users ;let first = $first;let last = $last; let i = $index;let
  even=$even ; track key.name) { @if(last){
  <li>{{ key.name }} -{{ i }}</li>
  } }
</ul>

<table frame="box" rules="all" [width]="300">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
    </tr>
  </thead>
  <tbody>
    @for(user of users;let count = $count ;track user.id){
    <tr>
      <td>{{ user.id }} {{ count }}</td>
      <td>{{ user.name }}</td>
    </tr>
    }
  </tbody>
</table>

<ol>
  <li *ngFor="let user of users">{{ user.name }}</li>
</ol>

<ol>
  @for(product of products;track product){
  <li>{{ product }}</li>
  }@empty {
  <h4>No Products</h4>
  }
</ol> -->
