<div class="container mx-auto w-50">
  <h2 class="text-success">React JS</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis corrupti
    ratione assumenda, laboriosam dicta omnis eaque quo fugit beatae eum tempora
    aliquam quisquam iure voluptates et tenetur mollitia quibusdam impedit quas?
    Sequi labore ipsum qui. Iusto, sequi expedita quas, soluta voluptas
    perferendis tempore neque voluptatum incidunt vero eos. Id similique ea amet
    facilis laborum consequuntur libero culpa fugit, sint ipsum consectetur
    temporibus sequi nostrum aliquam deserunt maxime autem optio enim porro
    repellat rem delectus! Sapiente aliquid, quibusdam laborum doloremque
    laudantium voluptates sunt reprehenderit libero, voluptatem ullam cum sit
    iusto, vero exercitationem aut. Eveniet sint illo, dolorem ea esse ipsum
    exercitationem? Ducimus inventore error delectus sit fuga consequuntur, quod
    molestias magnam veniam accusantium! Architecto minus aspernatur voluptatum
    obcaecati. Magni illum quibusdam illo, minima laborum voluptas neque,
    quaerat deserunt dolor ducimus dignissimos unde! Ex maiores quam, neque
    assumenda voluptatem doloribus laudantium minus vel soluta consectetur esse
    corporis quis obcaecati aspernatur tenetur. Soluta magnam et qui esse
    molestias aspernatur, necessitatibus maiores architecto nisi, eos beatae
    ipsum aliquam fugit nulla. Corrupti error at delectus nobis inventore!
    Sapiente, enim accusamus. Cum soluta doloribus inventore aperiam eaque
    cupiditate sint, quasi qui aliquam pariatur corporis, temporibus ipsam
    asperiores delectus odio enim atque sit hic dolor blanditiis tempore
    reprehenderit vitae. Facere sequi vitae nisi pariatur ex, totam velit
    recusandae dolorum et laborum fugit provident iusto vero fugiat placeat ad,
    cupiditate molestiae architecto explicabo facilis harum? Nisi, numquam?
    Nobis deleniti, eveniet voluptate fuga quam excepturi adipisci, eos minus,
    magni sit iure impedit distinctio libero? Repellendus minus libero quam in
    voluptate sunt doloribus? Natus, recusandae deleniti. Blanditiis tenetur
    veritatis fugiat dolore voluptatibus iure, quaerat voluptatum placeat
    consequatur veniam porro, illum amet debitis rerum molestiae quia voluptatem
    odio. Eos iste facilis ipsam quasi officia, aspernatur voluptas dolor
    accusamus eaque soluta quae libero repudiandae quidem numquam nisi dicta
    architecto eligendi? Ullam, fuga.
  </p>
</div>
