<div>
  <!-- <a routerLink="/" [ngClass]="home" (click)="assignActiveClass('home')"
    >Home</a
  >
  <a
    routerLink="/products"
    [ngClass]="product"
    (click)="assignActiveClass('product')"
    >Products</a
  > -->
  <a
    routerLink="/"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a
    routerLink="/products"
    [queryParams]="{ limit: 20, sort: 'asc' }"
    [routerLinkActive]="'active'"
    >Products</a
  >
  <a routerLink="/profile" [routerLinkActive]="'active'">Profile</a>
  <a routerLink="/contact" [routerLinkActive]="'active'">ContactUs</a>
  @if(!auth.isLoggedIn){
  <a routerLink="/login" [routerLinkActive]="'active'">Login</a>
  } @if(auth.isLoggedIn){
  <a
    class="btn btn-outline-danger"
    routerLink="/login"
    (click)="auth.isLoggedIn = false"
    [routerLinkActive]="'active'"
    >Logout</a
  >
  }
</div>
