<div class="profileContainer">
  <div class="leftPanel">
    <img [src]="userdata.image" width="100%" height="100%" />
  </div>

  <div [class]="rightPanel">
    <dl>
      <dt>User Name</dt>
      <dd>{{ userdata.name }}</dd>
      <dt>Gender</dt>
      <dd>{{ userdata.gender }}</dd>
      <dt>Email Id</dt>
      <dd>{{ userdata.email }}</dd>
      <dt>Description</dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quibusdam,
        aut labore error aperiam porro quaerat necessitatibus molestiae
        voluptates similique hic deleniti maiores fugiat quis earum? In odit
        tempore consectetur quia eveniet magnam quidem, alias sint maiores, non
        quod magni?
      </dd>
    </dl>

    <input
      type="radio"
      name="gender"
      checked
      (change)="changeUser('male')"
    />&nbsp; <label>Yash Verma</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="radio" name="gender" (change)="changeUser('female')" />&nbsp;
    <label>Rutu Verma</label>
    <br /><br />
    <input type="checkbox" (change)="changeTheme()" />&nbsp;
    <label>Check to Switch Dark Mode</label>
  </div>
</div>
