<ng-content select="button"></ng-content>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente quasi
  veritatis consequatur tempore eveniet! Alias laborum architecto odit
  temporibus quos voluptatem, eligendi, deleniti delectus quo incidunt culpa
  aliquid velit quod. Saepe repellendus doloremque tempora mollitia quis
  pariatur minus, eveniet sed architecto explicabo sint quia culpa dolor aut est
  corporis quae officia! Perferendis porro recusandae illum suscipit molestiae
  totam laudantium sunt nesciunt nisi! Veniam, dignissimos odio. Saepe
  dignissimos tempora magni quaerat possimus. Quisquam architecto excepturi,
  alias quasi ea maiores inventore voluptatibus, autem aut corporis iusto
  suscipit aspernatur est facere vero eius maxime a odio dolor obcaecati
  expedita. Suscipit non quis velit?
</p>
<ng-content select="h2"></ng-content>
