<h2>Header Component</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus illum
  quod deserunt nesciunt totam nostrum eius eligendi. Eum harum necessitatibus
  ipsam aspernatur aliquid asperiores, a alias, ipsum ipsa commodi magnam
  consequatur vel eaque quo. Architecto quaerat possimus consequatur incidunt
  dignissimos cum vitae modi commodi veniam quia officiis maxime saepe soluta
  consequuntur, doloribus nesciunt, non rerum veritatis sint laboriosam culpa,
  ad esse. Quia earum consectetur sequi commodi officia ex rem blanditiis,
  aliquid quidem repellat facere vel eveniet libero veritatis neque qui iusto
  eligendi molestias laudantium dolorem ipsam numquam voluptates voluptate.
  Ducimus illum doloremque natus, magni minus repudiandae debitis deserunt
  dolore eos?
</p>
