<div class="footerComp">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint rerum nobis
  accusamus odit voluptates aperiam repellat distinctio corrupti cumque sunt?
  Vitae nihil eos nulla, impedit magnam consectetur sequi enim hic velit
  voluptas labore nostrum nesciunt voluptate eius doloremque facere voluptatem
  quidem corrupti cumque ipsum repudiandae voluptatibus numquam aliquid
  laboriosam! Quis consequatur inventore maiores deleniti doloribus vero
  asperiores, quam iste tenetur, quibusdam optio placeat nesciunt? Tempore,
  assumenda autem? Modi in nesciunt, ratione beatae architecto iure consequatur
  placeat ipsa quis impedit hic fuga eaque enim sunt corrupti ut saepe? Quis
  nulla exercitationem adipisci, explicabo placeat earum ducimus enim hic!
  Aspernatur, explicabo cum!
</div>
