<mat-dialog-content>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam,
    blanditiis deserunt obcaecati culpa voluptas iusto voluptatum sapiente
    commodi quod molestias adipisci dignissimos quis consectetur reprehenderit
    recusandae, ab eos iste inventore quaerat ipsa nobis. Reiciendis veritatis
    minima pariatur totam consequatur. Vel placeat eos ea exercitationem
    nesciunt in ipsa temporibus non laboriosam, voluptates, aliquam facere
    molestias! Asperiores ratione quis eum rem dolore perspiciatis ad ab officia
    optio vitae repellendus dolor voluptatibus molestias placeat, sapiente
    consectetur hic reprehenderit recusandae voluptatum esse! Nihil incidunt
    animi ipsum, totam, cumque in officiis magnam molestiae, consequuntur veniam
    minus quaerat natus? Sapiente nostrum nemo tempora, nulla animi aut?
  </p>
  <mat-dialog-actions>
    <button matDialogClose>Closr</button>
  </mat-dialog-actions>
</mat-dialog-content>
