<h2 class="mt-5">Users Info</h2>
<ol>
  @for(key of users;track key){
  <li>{{ key }}</li>
  }
</ol>

<!-- <div class="container mt-5">
  <h2 class="h2">Angular Directives</h2>
  @if(true){
  <h3>Structuural Directives</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illo, autem est
    at nihil quidem error rerum deleniti. Aut nobis commodi quod quaerat.
    Reprehenderit inventore culpa similique a illo aut nulla voluptas officia
    quidem suscipit nesciunt odit numquam maxime commodi, fugit laborum ipsum
    amet dolorem id cum necessitatibus est voluptate! Iusto aut velit rem.
    Pariatur ratione quis dolore sapiente voluptate? Soluta ut eligendi suscipit
    vitae autem facere. Doloremque blanditiis cupiditate quia qui magnam aliquam
    quod perferendis consequuntur omnis consectetur accusantium nam atque
    debitis asperiores provident culpa molestiae quam dolorem doloribus, earum
    ex quasi. Aliquid similique iure unde voluptatibus distinctio. Voluptate!
  </p>
  }
</div> -->
<!-- <div class="container mt-5">
  @if(count > 5){

  <div class="container bg-dark text-white p-5">
    <h2>If Part</h2>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos ex voluptates
    eligendi, quidem provident nam doloremque assumenda nobis quam obcaecati
    dolorum enim ea sequi nesciunt saepe tempora dolores eos atque accusamus
    reprehenderit alias. Consequatur officiis iure nulla blanditiis facilis enim
    doloremque repellat cum? Cupiditate officia eaque unde dignissimos
    reiciendis soluta, dolorem modi eos qui ab excepturi doloremque cum nemo
    magnam sequi, quae doloribus aspernatur incidunt, veritatis ut illo.
    Necessitatibus itaque eos architecto hic nemo autem molestias nisi corrupti
    praesentium aliquid harum fuga nihil optio vero magnam consequatur non sit,
    dolores in, laborum quidem commodi! Iste delectus architecto accusamus enim
    sapiente.
  </div>

  }@else {
  <div class="container bg-warning text-dark p-5">
    <h2>Else Part</h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore sed
    doloribus, aliquid ex eveniet magni et dignissimos dicta optio quia
    molestiae totam nemo maxime corrupti, voluptatibus fugit tempore vero sint
    nihil, voluptatum magnam iste? Reiciendis velit vel laboriosam pariatur
    nulla! Soluta suscipit voluptates totam. Distinctio delectus veniam
    voluptates dolorum inventore. Porro accusamus, eius consequuntur soluta
    repudiandae fugit sit. Culpa eum impedit assumenda, magni nam expedita ullam
    enim nesciunt exercitationem maxime ratione consectetur numquam explicabo
    animi dolores consequuntur quod, mollitia quisquam! Commodi mollitia impedit
    vitae officia. Est, recusandae. Eligendi temporibus aperiam cupiditate
    libero deserunt dolorem expedita aspernatur enim, velit, accusamus et?
  </div>
  }
</div> -->

<!-- @if(false){
<h2>if</h2>
<p class="text-primary">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quos repudiandae
  nisi voluptas dignissimos dicta numquam hic aperiam incidunt esse. Libero, id
  laborum veniam provident iusto praesentium! Reiciendis, culpa ipsam.
</p>
}@else if(true){
<h2>else if-1</h2>

<p class="text-success">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatibus
  quidem doloribus soluta accusamus minus similique possimus, animi nesciunt
  doloremque placeat. Consectetur voluptatibus atque perferendis porro
  dignissimos tenetur ut quod iusto, quibusdam quidem soluta asperiores cumque
  rem velit quasi recusandae cum, commodi amet error voluptatum! Harum vitae
  aspernatur culpa deleniti. Praesentium dolor vitae vero, ipsa libero eligendi
  repellat eum necessitatibus natus ducimus vel eos officia harum. Cumque, eos!
  Nostrum impedit iusto, porro a quaerat quod suscipit doloribus exercitationem
  voluptatem officiis iste repellendus quia animi temporibus voluptatibus,
  pariatur consequatur vitae deserunt necessitatibus iure explicabo? Quae quasi
  beatae eaque consectetur quia! Esse.
</p>
}@else if(false){
<h2>else if-2</h2>

<p class="text-success">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatibus
  quidem doloribus soluta accusamus minus similique possimus, animi nesciunt
  doloremque placeat. Consectetur voluptatibus atque perferendis porro
  dignissimos tenetur ut quod iusto, quibusdam quidem soluta asperiores cumque
  rem velit quasi recusandae cum, commodi amet error voluptatum! Harum vitae
  aspernatur culpa deleniti. Praesentium dolor vitae vero, ipsa libero eligendi
  repellat eum necessitatibus natus ducimus vel eos officia harum. Cumque, eos!
  Nostrum impedit iusto, porro a quaerat quod suscipit doloribus exercitationem
  voluptatem officiis iste repellendus quia animi temporibus voluptatibus,
  pariatur consequatur vitae deserunt necessitatibus iure explicabo? Quae quasi
  beatae eaque consectetur quia! Esse.
</p>
} @else {
<h2>else</h2>
<p class="text-danger">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magnam dolore,
  nisi quod, numquam sit assumenda maxime unde eligendi inventore iste minus et,
  officiis aliquam? Accusamus similique itaque beatae deserunt sint dolorem sed.
  Suscipit quam id nam debitis sint officiis quia magni? Nostrum fugiat dolorem
  sed, consequuntur laborum velit ipsam?
</p>
} -->
