<div class="gridContainer">
  <div class="gridItem1 backgroundEffect">
    <div class="innerFlex">
      <h1 class="display-3 fw-bold">Women's Fashion</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ad
        repellendus in, cumque quisquam reprehenderit! Cum, dolorum totam atque
        quia ipsa error excepturi eos dolores iste velit illo inventore
        consequuntur.
      </p>
      <button class="btn btn-primary px-5 fw-bold">Show Now</button>
    </div>
  </div>
  <div class="gridItem2 backgroundEffect">
    <div class="innerFlex">
      <h3 class="display-6 fw-bold">Family Style's</h3>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ad
        repellendus
      </p>
      <button class="btn btn-primary px-3">Show Now</button>
    </div>
  </div>
  <div class="gridItem3 backgroundEffect">
    <div class="innerFlex">
      <h3 class="display-6 fw-bold">Special Offer</h3>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ad
        repellendus
      </p>
      <button class="btn btn-primary px-3">Show Now</button>
    </div>
  </div>
</div>
